[submodule "Lagrange.Core"]
	path = Lagrange.Core
	url = https://github.com/LagrangeDev/Lagrange.Core/
[submodule "CameraCaptureBot.Base/ffmpeg"]
	path = CameraCaptureBot.Base/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
	branch = release/7.0
