services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    tty: true
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - ./IsolatedStorage/:/root/.local/share/IsolatedStorage/
    configs:
      - source: appsettings
        target: /app/appsettings.json

configs:
  appsettings:
    file: ./StreamingCaptureBot.Core/appsettings.json
